
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutAbout.cshtml";
}

<div class="new-content">
    <div class="new-header">
        <h2><strong>Giới thiệu trang web bán nước hoa – Thương hiệu của xu hướng dẫn đầu</strong></h2>

        <div class="new-banner">
            <img src="~/Content/Theme_NuocHoaStore/images/about1.jpg">
        </div>
    </div>
    <div class="new-body">
        <div class="new-body-main">
            <h4>
                <p style="text-align:justify;">
                    <Strong>Web Nước Hoa </Strong>chưng trọng cảm ơn và mong muốn chia sẻ với tất cả các bạn về sở thích của tụi mình, đồng thời
                    tạo ra một nơi giúp mọi người dễ dàng sở hữu bất cứ chai nước hoa nào bạn muốn. và rồi cứ thế,
                    với mục tiêu lan toả hương thơm và niềm đam mê mà <span style="text-align:justify;text-indent:10px;"><strong>Web Nước Hoa</strong></span> lớn lên và được tin tưởng hơn mỗi ngày
                </p>
            </h4>
            <p>
                <img style="align-content: flex-end" src="~/Content/Theme_NuocHoaStore/images/about2.jpg" />
            </p>
        </div>
    </div>
</div>


